<h1>New <%= singular_name %></h1>

<%%= error_messages_for :<%= singular_name %> %>

<%% form_for(:<%= singular_name %>, @<%= singular_name %>, :url => <%= route_prefix + plural_name %>_path) do |f| %>
  <%%= render :partial => '/<%= plural_name %>/form', :locals => { :f => f }, :object => f %>
  <p>
    <%%= submit_tag "Create" %>
    or
    <%%= link_to 'Cancel', <%= route_prefix + plural_name %>_path(<%= param_prefix_only %>) %>
  </p>
<%% end %>

